body,
h1 {
  font-family: Arial;
  margin: 50px;
}

.item {
  background-color: #111;
  color: #fff;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

a {
  background-color: #febe01;
  color: #332200;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.body,
h1 {
  align-items: center;
}
